body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    margin-right: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

li {
    background-color: rgba(255, 255, 255, 0.7); /* White with 70% opacity */
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Light grey with 10% opacity */
}

li button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}

li button:hover {
    background-color: #ff1a1a;
}
